body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(143, 172, 26);
    border: 4px solid rgb(0, 0, 0);
    float: left;
    font-size: 64px;
    font-weight: bold;
    color:rgb(6, 44, 11);
    line-height: 74px;
    height: 74px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 74px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  .button {
   margin: 3px;
   background-color:gray;
   border: 1px solid white;
   color: white;
   font-weight:bold; 
   }